$background-gradient: linear-gradient(#07a7ff, #0031b2);
$blob: url(/Quiz-App/images/blob.svg);

@mixin background($img) {
  background-image: $img;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin fontWeight($weight) {
  font-family: "Readex Pro", sans-serif;
  font-weight: $weight;
}
