@import "_components";

@media (min-width: 567.98px) {
  #container {
    ::after {
      height: 80%;
      width: 50%;
      left: 50%;
    }
  }
}

// styles for small screen landscape (iphone 5/SE)
@media (width: 568px) and (orientation: landscape) {
  #container {
    .question-header {
    }

    .build-your-game {
      height: 70%;
      width: 60%;

      &-header {
        margin-bottom: 1.25rem;
      }
    }
  }
}
