@import "_components";

@media (min-width: 567.98px) {
  #container {
    ::after {
      height: 80%;
      width: 50%;
      left: 50%;
    }

    .build-your-game {
      height: 70%;
      width: 60%;

      &-header {
        margin-bottom: 1.25rem;
      }
    }
  }
}

@media (min-width: 767.98px) {
  #container {
    .build-your-game {
      height: 40%;
      width: 70%;

      &-header {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      #dropdown {
        height: 3rem;
        font-size: 1.25rem;
      }
    }
  }
} ;
