@import "_components";

@media (min-width: 567.98px) {
  #container {
    .quiz-header {
      margin-bottom: 1rem;
    }

    .start-game {
      width: 40%;
      margin-top: 1rem;
    }

    ::after {
      height: 80%;
      width: 50%;
      left: 50%;
    }

    .build-your-game {
      height: 70%;
      width: 60%;

      &-header {
        margin-bottom: 1rem;
      }
    }
    .answer-choice-section {
      flex-direction: row;
      flex-wrap: wrap;

      .answer-choice {
        width: 45%;
      }
    }
    .game-over-header {
      letter-spacing: 0.25rem;
    }
    .score-box {
      width: 60%;
      letter-spacing: 0.15rem;
    }
    .post-game-options {
      .new-game {
        width: 30%;
      }
      .play-again {
        width: 30%;
      }
    }
  }
}

@media (min-width: 767.98px) {
  #container {
    .quiz-header {
      font-size: 3.5rem;
      margin-bottom: 4rem;
    }

    .start-game {
      font-size: 1.2rem;
      width: 50%;
      margin-top: 2rem;
    }
    .build-your-game {
      height: 40%;
      width: 70%;

      &-header {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      select[name="dropdown"] {
        height: 3rem;
        font-size: 1.25rem;
      }
    }
    .question-header {
      margin: 0 10%;
      font-size: 2rem;
    }

    .answer-choice-section {
      .answer-choice {
        height: 8rem;
        font-size: 1.5rem;
      }
    }

    .game-over-header {
      letter-spacing: 0.15rem;
      font-size: 2.5rem;
    }
    .score-box {
      font-size: 1.5rem;
    }
    .post-game-options {
      height: 4rem;

      .new-game {
        width: 30%;
        font-size: 1.25rem;
      }

      .play-again {
        font-size: 1.25rem;
      }
    }
  }
}

@media (min-width: 991.98px) {
  #container {
    ::after {
      height: 90%;
    }
    .quiz-header {
      letter-spacing: 0.25rem;
    }

    .start-game {
      font-size: 1.2rem;
      width: 40%;
      margin-top: 2rem;
      height: 3rem;
    }
    .build-your-game {
      height: 40%;
      width: 60%;

      select[name="dropdown"] {
        height: 2.5rem;
      }
    }
    .question-header {
      font-size: 2.25rem;
    }
    .answer-choice-section {
      .answer-choice {
        height: 10rem;
      }
    }
    .score-box {
      width: 50%;
    }

    .post-game-options {
      margin-top: 2rem;

      .new-game {
        width: 25%;
      }

      .play-again {
        width: 25%;
      }
    }
  }
}

@media (min-width: 1199.98px) {
  #container {
    .start-game {
      width: 20%;
    }
    .build-your-game {
      width: 40%;

      select[name="dropdown"] {
        margin-bottom: 1.25rem;
      }
    }
    .game-over-header {
      font-size: 3rem;
    }
    .score-box {
      width: 40%;
      height: 15%;
    }
  }
}

// SPECIFIC STYLING //

// bigger phones (landscape mode)
@media (min-width: 800px) and (max-width: 991.98px) and (orientation: landscape) {
  #container {
    .quiz-header {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    .build-your-game {
      height: 70%;
      &-header {
        font-size: 1.5rem;
      }

      select[name="dropdown"] {
        height: 2.5rem;
      }
    }
  }
}

// small devices styling (iphone 5/SE)
@media (width: 320px) {
  #container {
    .build-your-game {
      .dropdown-menus {
        width: 80%;

        select[name="dropdown"] {
          border-radius: 10px;
          font-size: 0.85rem;
        }
      }
    }
  }
  .post-game-options {
    .new-game {
      font-size: 0.9rem;
    }
  }
}

// iphone 5/SE landscape
@media (width: 568px) and (orientation: landscape) {
  #container {
    .quiz-header {
      margin-bottom: 0.5rem;
    }
    .build-your-game {
      &-header {
        margin-bottom: 0.5rem;
      }
      #select[name="dropdown"] {
        height: 2rem;
      }
    }
  }

  .start-game {
    width: 50%;
    margin-top: 2rem;
  }
}
