@import "./components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: $background-gradient;
}

@keyframes animate {
  0% {
    left: 20%;
    width: 80%;
  }

  50% {
    left: 0%;
    width: 100%;
    height: 100%;
  }
  100% {
    left: 20%;
    width: 80%;
  }
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Readex Pro", sans-serif;

  ::after {
    content: "";
    position: absolute;
    @include background($blob);
    width: 80%;
    height: 90%;
    top: 0;
    left: 20%;
    z-index: -1;
    overflow: hidden;
    // animation: animate 3s infinite;
  }

  // Build Your Game Section //
  .quiz-header {
    color: white;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .build-your-game {
    width: 90%;
    height: 50%;
    border-radius: 15px;
    background-color: #4abdac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-header {
      color: white;
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }

    .dropdown-menus {
      width: 80%;
    }

    select {
      appearance: none;
      margin-bottom: 10px;
    }

    select[name="dropdown"] {
      width: 100%;
      height: 2.5rem;
      text-align: center;
      @include fontWeight(500);
      color: #8f8e8e;
      border-radius: 10px;
      font-size: 1rem;
    }
  }

  .start-game {
    @include fontWeight(400);
    width: 70%;
    display: none;
    margin-top: 2rem;
    height: 2rem;
    border: 0.5px solid black;
    border-radius: 20px;
    background-color: #4abdac;
  }

  // Quiz game styling //
  .question-header {
    color: white;
    text-align: center;
    font-size: 1.75rem;
    margin: 0 10px;
    @include fontWeight(500);
  }

  .answer-choice-section {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;

    .answer-choice {
      width: 90%;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #4abdac;
      color: white;
      border-radius: 15px;
      transition: background-color 0.3s ease;
    }
    .answer-choice:hover {
      background-color: #303030;
    }
  }

  .game-over-header {
    font-size: 2.25rem;
    color: white;
    margin-bottom: 2rem;
    @include fontWeight(500);
  }

  .score-box {
    font-size: 1.25rem;
    width: 70%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4abdac;
    color: white;
    @include fontWeight(500);
    margin: 3rem 0;
    border-radius: 15px;
  }

  .post-game-options {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    .play-again {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4abdac;
      border-radius: 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #303030;
      }
    }

    .new-game {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4abdac;
      border-radius: 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #303030;
      }
    }
  }
}

// just thinking of ideas for animations
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}

@import "./queries";
